.employee-item{
    margin: 10px;
    background-color: #333;
    padding: 2rem 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
}

.isPaid{
    border-left: 1rem solid green;
}

.employeeId{
    font-weight: 500;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

fa-icon{
    text-align: end;
    font-size: 1.5rem;
    color: red;
}

.bio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.bio p{
    text-align: center;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    gap: 1rem;
}