.employees{
    padding: 1rem;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0;
}

hr{
    margin: 2rem 3rem;
}

.no-data p{
    text-align: center;
    font-style: italic;
    color: red;
}

.footer{
    padding: 1.5rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}