<div class="employees">

    <app-add-employee (newEmployeeEmitter)="addEmployee($event)">

    </app-add-employee>

    <hr>

    <div class="current-employees">

        <h3>
            Current Company Employees:
        </h3>
        
        <!-- Loop through each of the employees -->
        <app-employee-item 
            *ngFor="let employee of employees" 
            [employee] = "employee"
            (deleteEmployeeEmitter)="deleteEmployee(employee)"
            (toggleEmployeePaidEmitter)="toggleEmployeePaid(employee)" >
        </app-employee-item>

    </div>
</div>
