.btn{
    position: relative;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}