/* Import Poppins and love ya like a sister */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}